:80, :443 {
    root * /srv
    file_server browse

    handle_path /mksgauge/* {
        reverse_proxy mksgauge
    }
    handle_path /turbo/* {
        reverse_proxy turbo
    }
    handle_path /sierramfc/* {
        reverse_proxy sierramfc
    }
    handle_path /hv/* {
        reverse_proxy hv
    }
    handle_path /counter/* {
        reverse_proxy counter
    }
    handle_path /maestro/* {
        reverse_proxy maestro
    }
}
