:80 {
    header Access-Control-Allow-Origin "https://*.westland.as34553.net"
    header Access-Control-Allow-Credentials "true"

    root * /srv
    file_server browse

    handle_path /gauge/* {
        reverse_proxy gauge
    }
    handle_path /turbo/* {
        reverse_proxy turbo
    }
    handle_path /mfc/* {
        reverse_proxy mfc
    }
    handle_path /hv/* {
        reverse_proxy hv
    }
    handle_path /tts/* {
        reverse_proxy tts
    }
    handle_path /alert/* {
        reverse_proxy alert
    }
}
